## ~/.gitconfig: global git configuration

[user]
	name = microsounds
	email = microsounds@users.noreply.github.com

[alias]
	# recent changes
	summary = log --oneline --decorate --graph -n 16
	# home directory version control
	meta = !git --git-dir=$HOME/.config/meta --work-tree=$HOME
	# list all tracked filenames in repo, for use with xargs
	list-files = ls-tree -r HEAD --name-only --full-tree
	# squash fixups
	flatten = !GIT_SEQUENCE_EDITOR=true git rebase -i --root
	# automated stage, commit and push for use in scripts
	checkin = "!f() { \
		! is-container && who=\"$(whoami)@$(uname -n)\" || who='CI'; \
		change=\"$(git status --porcelain | wc -l) change\"; \
		case "$change" in '1 '*) ;; *) change=\"${change}s\";; esac; \
		git commit -a -m \"[$who] $change $(date '+%Y/%-m/%-d %-I:%M%P %Z')\"; \
	}; f"
	shove = "!f() { git checkin; git push; }; f"
	# size reporting functions in kilobytes
	size-tree = !echo $(( ($(git list-files | xargs ls -l \
		| tr -s ' ' '\t' | cut -f5 | paste -s -d '+')) / 1024 ))
	size-pack = !git count-objects -v \
		| fgrep 'size-pack' | tr -s ' :' '\t' | cut -f2
	  
[init]
	defaultBranch = master

[pull]
	ff = only

[advice]
	detachedHead = false

[rebase]
	autoStash = true
	autoSquash = true
