## ~/.gitconfig: git user configuration

[user]
	name = microsounds
	email = microsounds@users.noreply.github.com

[alias]
	sync = push origin master
	summary = log --oneline --decorate --graph -n 16
	# home directory version control
	root = !git --git-dir=$HOME/Git/atelier --work-tree=$HOME
	# squash fixups
	flatten = !GIT_SEQUENCE_EDITOR=true git rebase -i HEAD~5
	# dumb file storage
	ecommit = !git commit -a -m "$(tr -cd 'a-z0-9' < /dev/urandom | head -c 7)"

[advice]
	detachedHead = false

[status]
	showUntrackedFiles = no

[rebase]
	autoStash = true
	autoSquash = true
