## ~/.nanorc: nano 3.x user config

## custom syntax
include ~/.local/share/nano/*.nanorc

## editor
set smooth
set softwrap
set tabsize 4
set autoindent
set multibuffer
set wordchars "$-:._"
set matchbrackets "(<[{)>]}"
set trimblanks
set afterends
set atblanks
set unix

## convenience
set locking
set positionlog
unset historylog
unset suspend # suspendable

## disallow saving with ^S
unbind ^S main

## ui
unset morespace
set nohelp
set constantshow
set nopauses # deprecated in v5
unset linenumbers
#set indicator

## color scheme
set titlecolor black,cyan
#set promptcolor black,cyan
set statuscolor black,white
set errorcolor black,red
set numbercolor white # italic,lightblack
#set scrollercolor lightblack
set keycolor brightblue # bold,blue
set functioncolor white
