## ~/.nanorc: nano 3.2 user config

## syntax
include "/usr/share/nano/*.nanorc"
include "~/.nano/*.nanorc"

## key bindings
unbind ^S all

## editor
set smooth
set softwrap
set tabsize 4
set autoindent
set multibuffer
set matchbrackets "(<[{)>]}"
set trimblanks
set afterends
set atblanks
set unix
set zap

## convenience
unset positionlog
unset historylog
unset locking
unset suspend

## ui
set constantshow
unset linenumbers
unset morespace
unset nohelp

## ui color
set numbercolor brightblack
set titlecolor black,cyan
set statuscolor black,white
set keycolor brightblue
set functioncolor white
set errorcolor black,red
