/* ~/.xresources: X resources user configuration */

/* xft */
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

/* rxvt-unicode */
#define font(name, px)	xft:name:pixelsize=px

/* terminal fonts	normal               fallback japanese */
#define FONT_SERIF	font(Go Mono, 13),   font(Dejima, 13)
#define FONT_SANS	font(Noto Mono, 13), font(VL Gothic, 13)

URxvt.font: FONT_SERIF
URxvt.letterSpace: -2
URxvt.lineSpace: -1
URxvt.geometry: 96x24
URxvt.internalBorder: 3
URxvt.saveLines: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: true

/* disable non-standard ctrl+shift hijacking */
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-S-Up: \033[1;6A
URxvt.keysym.C-S-Down: \033[1;6B
URxvt.keysym.C-S-Right: \033[1;6C
URxvt.keysym.C-S-Left: \033[1;6D

/* terminal color theme */
#include <colors/nightdrive.h>

URxvt.cursorColor: FGCOLOR
URxvt.foreground: FGCOLOR
URxvt.background: BGCOLOR
URxvt.color0: COLOR0
URxvt.color1: COLOR1
URxvt.color2: COLOR2
URxvt.color3: COLOR3
URxvt.color4: COLOR4
URxvt.color5: COLOR5
URxvt.color6: COLOR6
URxvt.color7: COLOR7
URxvt.color8: COLOR8
URxvt.color9: COLOR9
URxvt.color10: COLOR10
URxvt.color11: COLOR11
URxvt.color12: COLOR12
URxvt.color13: COLOR13
URxvt.color14: COLOR14
URxvt.color15: COLOR15

/* xclock */
XClock.Clock.hourColor: COLOR9
XClock.Clock.minuteColor: COLOR6
XClock.Clock.secondColor: FGCOLOR
XClock.Clock.majorColor: FGCOLOR
XClock.Clock.minorColor: FGCOLOR
XClock.Clock.background: BGCOLOR

/* xload */
XLoad.*.foreground: FGCOLOR
XLoad.*.background: BGCOLOR
XLoad.*.highlight: COLOR14
XLoad.*.Label:
