!! ~/.Xresources: X resources user configuration
#include <colors/nightdrive.h>

! xft
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! rxvt-unicode
! near-zero kerning causes font breakage without fallbacks
URxvt.font: xft:Noto Mono:size=10,xft:VL Gothic:size=10
URxvt.letterSpace: -2
URxvt.lineSpace: -1
URxvt.geometry: 96x24
URxvt.internalBorder: 3
URxvt.saveLines: 2048
URxvt.scrollBar: false
URxvt.urgentOnBell: true

! color scheme
URxvt.cursorColor: FGCOLOR
URxvt.foreground: FGCOLOR
URxvt.background: BGCOLOR
URxvt.color0: COLOR0
URxvt.color1: COLOR1
URxvt.color2: COLOR2
URxvt.color3: COLOR3
URxvt.color4: COLOR4
URxvt.color5: COLOR5
URxvt.color6: COLOR6
URxvt.color7: COLOR7
URxvt.color8: COLOR8
URxvt.color9: COLOR9
URxvt.color10: COLOR10
URxvt.color11: COLOR11
URxvt.color12: COLOR12
URxvt.color13: COLOR13
URxvt.color14: COLOR14
URxvt.color15: COLOR15

! xclock
XClock.Clock.hourColor: COLOR9
XClock.Clock.minuteColor: COLOR6
XClock.Clock.secondColor: FGCOLOR
XClock.Clock.majorColor: FGCOLOR
XClock.Clock.minorColor: FGCOLOR
XClock.Clock.background: BGCOLOR

! xload
XLoad.*.foreground: FGCOLOR
XLoad.*.background: BGCOLOR
XLoad.*.highlight: COLOR14
XLoad.*.Label:
