/* ~/.config/toolkit/gtk3.css: GTK3 theme override */

#include <theme.h>
#include <colors/nightdrive.h>

/* color matched to dwm status bar */
/* menu bar */
menubar, sidebar {
	background-color: BGCOLOR;
	color: FGCOLOR;
}
menubar separator {
	background-color: #DDDDDD;
}
/* menu bar highlights */
menuitem:hover, *:selected {
	background-color: FGLIGHT;
	color: FGCOLOR;
}
/* buttons, hover and selection */
*:active {
	background-color: COLOR6;
}
