[user]
	name = microsounds
	email = microsounds@users.noreply.github.com

[alias]
	# sets / directory as the work tree for version control purposes
	root = !git --git-dir=$HOME/Git/atelier --work-tree=/
	summary = log --oneline --decorate --graph -n 16

[status]
	showUntrackedFiles = no
